@page
@model ProdottoDettaglioModel
@{
    ViewData["Title"] = "Prodotto Dettaglio";
}

<h1>@ViewData["Title"]</h1>

<br>
<div class="row g-0">
    <div class="col-md-4">
      <img src="@Model.Prodotto.Immagine" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Nome: @Model.Prodotto.Nome</h5>
        <p class="card-text">Prezzo: @Model.Prodotto.Prezzo</p>
        <p class="card-text">Dettaglio: @Model.Prodotto.Dettaglio</p>
      </div>
    </div>
  </div>