@model ModificaRuoloViewModel

@{
    ViewData["Title"] = "Modifica Ruolo ";
}

<div class="mx-5">
    <!-------------------------- titolo della pagina ---------------------------->
    <div class="text-center">
        <h1 class="display-4">@ViewData["Title"]</h1>
    </div>
 <div class="d-flex flex-row justify-content-center pt-3 pb-2">
<form method="post" asp-action="ModificaRuolo" asp-route-id="@Model.UserId">
    <div>
        <p>Utente: @Model.UserName</p>
        <p>Ruolo attuale: @Model.RuoloAttuale</p>
        <label for="nuovoRuolo">Nuovo Ruolo:</label>
        <select id="nuovoRuolo" name="nuovoRuolo">
    @foreach (var role in Model.Roles)
    {
        <option value="@role">@role</option>
    }
</select>

    </div>
    <br>
    <button type="submit" class="btn btn-success">Salva Modifiche</button>
    <a class="btn btn-primary ms-3" asp-action="GestioneUtenti">Annulla</a>
</form>
 </div>
</div>