@page
@model PersonaDettaglioModel
@{
    ViewData["Title"] = "Persona Dettaglio";
}

<h1>@ViewData["Title"]</h1>


<br>
<div class="row g-0">
    <div class="col-md-4">
      
    
      <div class="card-body">
        <h5 class="card-title">Id: @Model.Persona.Id</h5>
        <p class="card-text">Nome: @Model.Persona.Nome</p>
        <p class="card-text">Cognome: @Model.Persona.Cognome</p>
        <p class="card-text">Età: @Model.Persona.Eta</p>
        <p class="card-text">Email: example@gmail.com</p>
        <form class="row g-3">
  
  <div class="col-auto">
    <label for="inputPassword2" class="visually-hidden">Password</label>
    <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
  </div>
</form>
      </div>
    </div>
  </div>
  

<a asp-page="Persone">Torna a Persone</a>